body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

img {
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid #252525;
    border-radius: 10px;
}

h1, h2, h3, a {color: #0484d1;}
p, li {color: #c0d0e3;}

.with_margin {margin-left: 20px;}

.code {
    font-family: monospace, sans-serif;
    background-color: #252525;
    color: white;
}

.outer_box {
    width: 800px;
    height: fit-content;
    border: 2px solid #252525;
    border-radius: 10px;
    margin: 20px;
}

.inner_box {
    width: 750px;
    height: fit-content;
    padding-left: 20px;
}

@media (max-width: 840px) {
    .outer_box, .inner_box {width: auto;}
}