body {
    background-color: black;
    font-family: Arial, sans-serif;
}
h1, h2, h3, a {color: #0484d1;}
p, li {color: #c0d0e3;}
img {padding-left: 10px;}

.outer_box {
    width: 750px;
    height: 175px;
    border: 2px solid dimgray;
    margin: 20px;
}

.inner_box {
    width: 750px;
    height: 700px;
    padding-left: 10px;
}